<div class="row">
  <div class="small-12 columns">
    <h2>Resources:</h2>
    <%= render @resources %>
    <% if current_user == @prep.coach %>
      <h2>Unshared Resources:</h2>
      <%= render @unshared_resources %>
    <% end %>
    <div>
      <%= link_to "Back to Prep", @prep, class: "button", id: "back-butt" %>
    </div>
  </div>
</div>
